:root {
    --header-height: 75px;
    --body-font: 'Merriweather Sans', sans-serif;
    --heading-font: 'Merriweather', serif;

    --off-white: #fafafa;
    --off-black: #0e0e0e;
    --medium-dark-grey: #2b2b2b;
    --light-grey: #ccc;
}

body {
    font-family: var(--body-font);
    background-color: var(--off-white);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

a {
    color: inherit;
}

.flex-container {
    display: flex;
    /* for mobile-first: will display as if no flexbox */
    flex-direction: column;
}

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    background-color: var(--off-white);
    padding: 0 20px;
    border-bottom: 1px solid var(--light-grey);
    z-index: 1;
}

header h1 {
    line-height: var(--header-height);
    float: left;
}

nav {
    height: 100%;
    float: right;
}
.navbar {
    padding: 0;
}

.nbs-nav-link {
    text-decoration: none;
}

.navbar-toggler {
    font-size: 200%;
}
.navbar-toggler:focus {
    box-shadow: none;
}

#nav-menu {
    display: none;
}

#collapse-menu {
    width: 100%;
    background-color: var(--off-black);
    color: var(--off-white);
    position: fixed;
    top: var(--header-height);
    z-index: 1;
}

#collapse-menu ul {
    padding-left: 0;
}

#collapse-menu li {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid var(--medium-dark-grey);
}

#collapse-menu li:last-of-type {
    border: none;
}

#collapse-menu li:hover {
    background-color: var(--medium-dark-grey);
}

#collapse-menu li a {
    /* text-decoration: none; */
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* hero image */

#hero-image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: var(--header-height);
}

#hero-image {
    width: 100%;
    height: 300px;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
}

#hero-cover-text-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0));
    position: relative;
}

#hero-cover-text {
    color: var(--off-white);
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 400%;
    display: none;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

#bottom-image {
    display: none;
}

/* footer */

footer {
    width: 100%;
    height: 75px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid var(--light-grey);
}

#footer-links {
    padding: 0;
}

#footer-links li {
    display: inline;
    list-style: none;
    margin-right: 50px;
}

#footer-links i {
    font-size: 150%;
}

/* ensures footer content is properly centered by removing margin from the last element 
   used last-of-type:0 rather than first-of-type:50 for scalability - works regardless of how many links are included */
#footer-links li:last-of-type {
    margin-right: 0;
}

/* media query for small-medium screens */
@media screen and (min-width: 780px)
{
    main {
        padding-top: 40px;
    }

    /* displays full navbar instead of hamburger */
   .navbar-toggler {
        display: none;
    }
    #nav-menu {
        display: block;
        float: right;
        list-style: none;
    }   
    #nav-menu li {
        display: inline;
        list-style: none;
        margin-right: 30px;
        font-size: 120%;
        line-height: var(--header-height);
    }    
    #nav-menu a:hover, .active {
        border-bottom: 1px solid #0e0e0e;
    }

    #footer-links {
        display: inline;
    }
    footer p {
        display: inline;
        margin-right: 50px;
    }
}

@media screen and (min-width: 1100px)
{
    .flex-container {
        flex-direction: row;
        gap: 40px;
    }

    #bottom-image {
        display: block;
        width: 750px;
        margin: 0 auto;
        padding-top: 100px;
    }
    
    #bottom-image img {
        width: 100%;
    }
}

@media screen and (min-width: 1300px)
{
    #hero-image, #hero-image-container {
        height: 600px;
    }
    #hero-image {
        background-attachment: fixed;
    }
}