:root {
    --header-height: 75px;
    --hero-height-s: 200px;
    --hero-height: 300px;
    --hero-height-l: 450px;
    --footer-height: 125px;
    --footer-height-s: 75px;

    --body-font: 'Merriweather Sans', sans-serif;
    --heading-font: 'Merriweather', serif;

    --off-white: #fafafa;
    --off-black: #0e0e0e;
    --medium-dark-grey: #2b2b2b;
    --light-grey: #ccc;
}

/* global styles */

/* forces main to take full height of viewport minus header, hero image and footer
   makes footer stay at bottom of page regardless of content height */
main {
    min-height: calc(100vh - var(--header-height) - var(--hero-height-s) - var(--footer-height));
}

body {
    font-family: var(--body-font);
    background-color: var(--off-white);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

a, a:hover {
    color: inherit;
}
:where(main, footer) a {
    transition: color 0.2s;
}
:where(main, footer) a:hover {
    color: var(--light-grey);
}

.flex-container {
    display: flex;
    /* for mobile-first: will display as if no flexbox */
    flex-direction: column;
}

.grid-container {
    display: grid;
}

.page-heading {
    margin-bottom: 20px;
}

/* header and nav */

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    background-color: var(--off-white);
    padding: 0 20px;
    border-bottom: 1px solid var(--light-grey);
    z-index: 1;
}

header h1 {
    line-height: var(--header-height);
    float: left;
}

nav {
    height: 100%;
    float: right;
}
.navbar {
    padding: 0;
}

.nbs-nav-link {
    text-decoration: none;
}

.navbar-toggler {
    font-size: 200%;
}
.navbar-toggler:focus {
    box-shadow: none;
}

#nav-menu {
    display: none;
}

#collapse-menu {
    width: 100%;
    background-color: var(--off-white);
    color: var(--off-black);
    position: fixed;
    top: var(--header-height);
    z-index: 1;
}

#collapse-menu ul {
    padding-left: 0;
}

#collapse-menu li {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid var(--light-grey);
    transition: all 0.2s;
}

#collapse-menu li:hover {
    background-color: var(--light-grey);
    color: var(--medium-dark-grey);
}

#collapse-menu li:last-of-type {
    border: none;
}

#collapse-menu li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* hero image */

#hero-image-container {
    width: 100%;
    height: var(--hero-height-s);
    overflow: hidden;
    margin-top: var(--header-height);
}

#hero-image {
    width: 100%;
    height: var(--hero-height-s);
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
}

#hero-cover-text-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0));
    position: relative;
}

#hero-cover-text {
    color: var(--off-white);
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 400%;
    display: none;
}

/* main-content */

main {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

#bottom-image {
    display: none;
}

/* contact page */

#contact-form-container {
    text-align: center;
    margin-bottom: 20px;
}

#contact-form {
    /* enforces width to match contents */
    display: inline-block;
    padding: 0 20px;
    text-align: left;
}

#contact-form h2 {
    font-size: 175%;
}

#contact-form h2, #contact-form input, #contact-form textarea {
    margin: 10px 0;
}

.input {
    border: 1px solid #0e0e0e;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 10px;
    width: 100%;
}

.short-text-input {
    height: 30px;
}

#contact-form textarea {
    display: block;
    resize: none;
}

/* allows margin-top to work on button with clear: both */
#checkbox-group-container {
    overflow: hidden;
}
#checkbox-group-container label {
    width: 75%;
    float: left;
}
.checkbox-container {
    float: right;
    width: 25%;
    text-align: center;
}

#contact-form button {
    clear: both;
    
    width: 100px;
    height: 50px;
    display: block;
    margin: 10px auto 0 auto;

    color: var(--off-white);
    background-color: var(--off-black);
    font-family: inherit;
    font-size: inherit;
    border: 1px solid var(--off-black);
    border-radius: 4px;

    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
}
#contact-form button:hover {
    background-color: var(--off-white);
    color: var(--off-black);
}

/* news page */

/* article previews */

.news-preview {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    border: 1px solid var(--medium-dark-grey);
    grid-template-rows: 1fr 2fr;
    align-items: center;
}

.news-preview > * {
    padding: 10px;
}

.news-preview-link, .news-preview-link:hover {
    color: inherit;
    text-decoration: none;
}

.news-preview-title {
    margin: 0;
    grid-row: 1;
}
.news-preview-info {
    grid-row: 2;
}
.news-preview-img {
    display: none;
}

/* article page */

.news-article {
    padding: 0 30px 30px 0;
    margin: 0 auto;
    width: 100%;
}

.news-article h2 {
    padding-bottom: 20px;
}

.video {
    display: block;
    padding: 30px 30px 0 30px;
    margin: 0 auto;
    border: none;
    max-width: 100%;
    aspect-ratio: 16/9;
}

/* find us page */

#map {
    display: block;
    margin: 0 auto 50px auto;
    width: 100%;
    aspect-ratio: 16/9;
    
}

#find-us-info {
    margin: 0 auto;
    padding-bottom: 40px;
}

address p {
    margin-bottom: 0;
}

/* footer */

footer {
    width: 100%;
    height: var(--footer-height);
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid var(--light-grey);
}

#footer-links {
    padding: 0;
}

#footer-links li {
    display: inline;
    list-style: none;
    margin-right: 50px;
}

#footer-links i {
    font-size: 150%;
}

/* ensures footer content is properly centered by removing margin from the last element 
   used last-of-type:0 rather than first-of-type:50 for scalability - works regardless of how many links are included */
#footer-links li:last-of-type {
    margin-right: 0;
}

/* media query for extra small screens */
@media screen and (max-width: 340px)
{
    h1 {
        font-size: 140%;
    }
    .navbar-toggler {
        font-size: 160%;
    }
}

/* media query for small-medium screens */
@media screen and (min-width: 780px)
{
    main {
        padding-top: 40px;
        width: 85%;
        /* updates for new footer and hero height */
        min-height: calc(100vh - var(--header-height) - var(--hero-height) - var(--footer-height-s));
    }

    #hero-image, #hero-image-container {
        height: var(--hero-height);
    }

    /* displays full navbar instead of hamburger */
   .navbar-toggler {
        display: none;
    }
    #nav-menu {
        display: block;
        float: right;
        list-style: none;
    }   
    #nav-menu li {
        display: inline;
        list-style: none;
        margin-right: 30px;
        font-size: 120%;
        line-height: var(--header-height);
    }    
    #nav-menu a:hover, .active {
        border-bottom: 1px solid #0e0e0e;
    }

    footer {
        height: var(--footer-height-s);
    }
    #footer-links {
        display: inline;
    }
    footer p {
        display: inline;
        margin-right: 50px;
    }
    
    /* article previews */
    .news-preview-img {
        display: block;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        /* enforces square image without stretching 
        is there a way to have height: 100% and width = height?
        apparently but its confusing - will figure out later */
        object-fit: cover;
        height: 300px;
        width: 300px;
        padding: 0;
    }
}

/* media query for medium-large screens */
@media screen and (min-width: 1100px)
{
    main {
        width: 70%;
    }

    .flex-container {
        flex-direction: row;
        gap: 40px;
    }

    #bottom-image {
        display: block;
        width: 750px;
        margin: 30px auto;
    }    
    #bottom-image img {
        width: 100%;
    }
}

/* media query for large-xl screens */
@media screen and (min-width: 1300px)
{
    #hero-image, #hero-image-container {
        height: var(--hero-height-l);
    }
    #hero-image {
        background-attachment: fixed;
    }
    #hero-cover-text {
        display: block;
    }
    /* updates for new hero height */
    main {
        min-height: calc(100vh - var(--header-height) - var(--hero-height-l) - var(--footer-height-s));
    }

    .page-heading {
        display: none;
    }

    .news-article {
        width: 90%;
    }
}