:root {
    --header-height: 75px;
    --body-font: 'Merriweather Sans', sans-serif;
    --heading-font: 'Merriweather', serif;

    --off-white: #fafafa;
    --off-black: #0e0e0e;
}

body {
    font-family: var(--body-font);
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

a {
    color: inherit;
}

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    background-color: red;
    padding: 0 20px;
}

header h1 {
    line-height: var(--header-height);
    float: left;
}
.navbar-toggler {
    font-size: 200%;
    float: right;
    display: inline;
}
.navbar-toggler:focus {
    box-shadow: none;
}

#collapse-menu {
    width: 100%;
    background-color: var(--off-black);
    color: var(--off-white);
    position: fixed;
    top: var(--header-height);
    box-shadow: none;
}

#collapse-menu ul {
    padding-left: 0;
}

#collapse-menu li {
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    list-style: none;
    text-align: center;
}

main {
    margin-top: var(--header-height);
}