/* universal styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fafafa;
    color: #0e0e0e;
    font-family: 'Merriweather Sans', sans-serif;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    /*FIX: CHANGE GOOGLE FONT IMPORT*/
    font-weight: lighter;
}

a {
    color: inherit;
    text-decoration: none;
}

/* header and navigation links */

header {
    padding: 0 10px;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    background-color: #fafafa;
    z-index: 1;
}

header h1, #menu {
    line-height: 90px;
}

header h1 {
    float: left;
    font-size: 250%;
}

#menu {
    float: right;
    list-style: none;
    font-size: 130%;
}

#menu li {
    display: inline;
    list-style: none;
    margin-right: 30px;
}

#menu a:hover, .active {
    border-bottom: 1px solid #0e0e0e;
}

/* hero image */

#hero-image-container {
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* pushes body content below header, since position: fixed takes it out of document flow */
    margin-top: 90px;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
}

#hero-cover-text-container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(30, 30, 30, 1), rgba(30, 30, 30, 0));
    position: relative;
}

#hero-cover-text {
    color: #fafafa;
    font-size: 400%;
    position: absolute;
    left: 5%;
    bottom: 10%;
}

/* main content */

#main-content {
    padding-top: 50px;
}

#main-content a {
    font-weight: bold;
    color: #875a31;
    transition: color 0.2s;
}
#main-content a:hover {
    color: #c48d5a;
}

/* style for left & right blocks of text */

.left-paragraph {
    width: 40%;
    float: left;
    margin: 0 2.5% 0 5%;

    font-size: 115%;
}

.right-paragraph {
    width: 40%;
    float: right;
    margin: 0 5% 0 2.5%;

    font-size: 115%;
}

.left-paragraph h2, .right-paragraph h2 {
    margin-bottom: 10px;
}

/* bottom image */

#bottom-image {
    clear: both;
    width: 750px;
    margin: 0 auto;
    padding-top: 100px;
}

#bottom-image img {
    width: 100%;
}

/* news page */

/* article previews */

.news-article {
    width: 60%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #0e0e0e;
}

/* footer */

footer {
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

footer a {
    border-bottom: 1px solid #0e0e0e;
}

footer p {
    display: inline;
    margin-right: 50px;
}

#footer-links {
    display: inline;
}

#footer-links li {
    display: inline;
    list-style: none;
    margin-right: 50px;
}

/* ensures footer content is properly centered by removing margin from the last element 
   used last-of-type:0 rather than first-of-type:50 for scalability - works regardless of how many links are included */
#footer-links li:last-of-type {
    margin-right: 0;
}